.close-fake{
    --background: transparent;
    ion-button{
        border: 2px solid #fff;
        padding-right: 10px;
        margin-right: 20px;
        border-radius: 3px;
    }
    ion-icon{
        font-size: 2rem;
        margin: 0px;
    }
    margin-top: 40px;
}

ion-content{
    --background: rgba(44, 39, 45, 0.84);
}

ion-slides{
    height: 80%;
}